body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Nunito", sans-serif;
  /* font-family: "'Nunito', sans-serif"; */
}

ul {
  list-style-type: none;  
  text-align: center;
}

a {
  color: inherit;
  text-decoration: none;
}
